.table__wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}


.table__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.table__filters-input {
  padding: 3px 7px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.table__filters-select {
  padding: 3px 7px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.table__pagination {
  margin-top: auto;
  padding: 10px 0;
  text-align: center;
}

.table__pagination-button {
  padding: 3px;
  margin-right: 5px;
  cursor: pointer;
}

.table__pagination-button:disabled {
  cursor: not-allowed;
}

.table__pagination-label {
  margin-right: 5px;
}