.table-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}

.table-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-filters__input {
  padding: 3px 7px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.table-filters__select {
  padding: 3px 7px;
  margin-right: 10px;
  margin-bottom: 10px;
}

